@{
    ViewBag.App = "HaikuControlPanel";
    ViewBag.Title = "Haiku Control Panel";
    ViewBag.HeaderPhrase = "Manage";
}

<div class="container" ng-view></div>

@section scripts {
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/Scripts/ctrl/ctrl.js")

    @Scripts.Render("~/Scripts/ctrl/controllers/side-bar-controller.js")
    @Scripts.Render("~/Scripts/ctrl/controllers/authorize-controller.js")
    @Scripts.Render("~/Scripts/ctrl/controllers/users-controller.js")
    @Scripts.Render("~/Scripts/ctrl/controllers/reports-controller.js")

    @Scripts.Render("~/Scripts/ctrl/routing.js")
}