@{
    ViewBag.App = "HaikuApp";
    ViewBag.Title = "Haiku";
    ViewBag.HeaderPhrase = "Your thoughts are valued!";
}

<div class="container" ng-view></div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js")
    @Scripts.Render("~/Scripts/angular-bootstrap-select.js")
    @Scripts.Render("~/Scripts/sha3.js")

    @Scripts.Render("~/Scripts/shared/services/services.js")
    @Scripts.Render("~/Scripts/shared/services/http-service.js")
    @Scripts.Render("~/Scripts/shared/services/haikus-service.js")
    @Scripts.Render("~/Scripts/shared/services/users-service.js")

    @Scripts.Render("~/Scripts/shared/directives/directives.js")
    @Scripts.Render("~/Scripts/shared/directives/haikuSmallInfo.js")
    @Scripts.Render("~/Scripts/shared/directives/autoHeight.js")
    @Scripts.Render("~/Scripts/shared/directives/selectPicker.js")
    @Scripts.Render("~/Scripts/shared/directives/customAutofocus.js")

    @Scripts.Render("~/Scripts/app/app.js")
    
    @Scripts.Render("~/Scripts/app/controllers/side-bar-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/rate-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/report-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/authorize-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haikus-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haiku-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/users-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/user-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haiku-write-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/user-register-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haiku-edit-controller.js")
    
    @Scripts.Render("~/Scripts/app/routing.js")
}