@{
    ViewBag.Title = "Haiku";
}

<div class="container" ng-view></div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-cookies.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js")
    @Scripts.Render("~/Scripts/sha3.js")

    @Scripts.Render("~/Scripts/app/app.js")

    @Scripts.Render("~/Scripts/app/services/http-service.js")
    @Scripts.Render("~/Scripts/app/services/haikus-service.js")
    @Scripts.Render("~/Scripts/app/services/users-service.js")

    @Scripts.Render("~/Scripts/app/directives/haikuSmallInfo.js")
    @Scripts.Render("~/Scripts/app/directives/autoHeight.js")
    
    @Scripts.Render("~/Scripts/app/controllers/side-bar-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/report-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haikus-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haiku-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/users-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/user-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/haiku-write-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/user-register-controller.js")
    
    @Scripts.Render("~/Scripts/app/routing.js")
}