<!DOCTYPE html>
<html ng-app="HaikuApp">
<head>
    <base href="@Request.ApplicationPath" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="SideBarController">
    <header>
        <div class="logo">
            <img src="~/Content/Drawing.png" />
        </div>
        <div class="phrase">
            <h1>
                <i>Your thoughts are valued!</i>
            </h1>
        </div>
    </header>
    <div class="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="tab in tabs">
                <a href="{{ tab.to }}">
                    <i class="fa fa-{{ tab.img }} fa-2x"></i>
                    {{ tab.title }}
                </a>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div>
            Science Icons graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
