<!DOCTYPE html>
<html ng-app="@ViewBag.App">
<head>
    <base href="@Request.ApplicationPath" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mycss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="SideBarController">
    <header>
        <div class="logo">
            <img src="~/Content/Drawing.png" />
        </div>
        <div class="phrase">
            <h1>
                <i>@ViewBag.HeaderPhrase</i>
            </h1>
        </div>
    </header>
    <div class="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="tab in tabs">
                <a href="{{ tab.to }}">
                    <i class="fa fa-{{ tab.img }} fa-3x"></i>
                    {{ tab.title }}
                </a>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
